openapi: "3.0.3"
info:
  title: Gitee CLI - CI Status API
  description: |
    gitee-cli 的 CI/CD 状态查询接口文档。
    本文档描述了 `gitee ci status` 命令所封装的 Gitee API 端点。
  version: "1.0.0"

servers:
  - url: https://gitee.com/api/v5
    description: Gitee OpenAPI v5 生产环境

security:
  - AccessToken: []

paths:
  /repos/{owner}/{repo}/commits/{ref}/status:
    get:
      summary: 获取聚合 CI 状态
      description: |
        获取指定仓库某个 ref（分支名、tag 或 commit SHA）的聚合 CI/CD 状态。
        聚合状态由所有 CI 上下文的状态合并计算得出。
        对应命令: `gitee ci status`、`gitee ci status --branch <branch>`、`gitee ci status --ref <sha>`
      operationId: getCombinedCIStatus
      parameters:
        - name: owner
          in: path
          required: true
          description: 仓库所有者（用户名或组织名）
          schema:
            type: string
            example: "alice"
        - name: repo
          in: path
          required: true
          description: 仓库名称
          schema:
            type: string
            example: "my-project"
        - name: ref
          in: path
          required: true
          description: "分支名、tag 名或 commit SHA"
          schema:
            type: string
            example: "main"
        - name: access_token
          in: query
          required: false
          description: 个人访问令牌（与 Authorization header 二选一）
          schema:
            type: string
      responses:
        "200":
          description: 成功返回聚合 CI 状态
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CombinedStatus"
              example:
                state: "success"
                commit_url: "https://gitee.com/api/v5/repos/alice/my-project/commits/abc1234"
                total_count: 2
                statuses:
                  - id: 1
                    state: "success"
                    context: "jenkins"
                    description: "Build passed"
                    target_url: "https://jenkins.example.com/job/build/1"
                    created_at: "2026-06-10T08:00:00+08:00"
                    updated_at: "2026-06-10T08:05:00+08:00"
                    creator:
                      login: "ci-bot"
                      id: 100
                  - id: 2
                    state: "success"
                    context: "sonar"
                    description: "Quality gate passed"
                    target_url: ""
                    created_at: "2026-06-10T08:00:00+08:00"
                    updated_at: "2026-06-10T08:06:00+08:00"
                    creator:
                      login: "ci-bot"
                      id: 100
        "401":
          description: 未认证
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 仓库或 ref 不存在
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: "404 Not Found"

  /repos/{owner}/{repo}/commits/{ref}/statuses:
    get:
      summary: 列出 CI 状态记录
      description: |
        获取指定仓库某个 ref 的所有 CI 状态记录列表，支持分页。
        与 `/status`（单数）不同，此接口返回每个 CI 上下文的详细记录列表，不做聚合。
      operationId: listCIStatuses
      parameters:
        - name: owner
          in: path
          required: true
          description: 仓库所有者
          schema:
            type: string
            example: "alice"
        - name: repo
          in: path
          required: true
          description: 仓库名称
          schema:
            type: string
            example: "my-project"
        - name: ref
          in: path
          required: true
          description: 分支名、tag 名或 commit SHA
          schema:
            type: string
            example: "main"
        - name: page
          in: query
          required: false
          description: 页码（从 1 开始，默认 1）
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: per_page
          in: query
          required: false
          description: 每页数量（1-100，默认 20）
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: access_token
          in: query
          required: false
          description: 个人访问令牌
          schema:
            type: string
      responses:
        "200":
          description: 成功返回 CI 状态记录列表
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CIStatus"
        "401":
          description: 未认证
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 仓库或 ref 不存在
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    AccessToken:
      type: apiKey
      in: query
      name: access_token
      description: 个人访问令牌（通过 `gitee auth login` 获取）

  schemas:
    CIStatus:
      type: object
      description: 单个 CI 上下文的状态记录
      properties:
        id:
          type: integer
          format: int64
          description: 状态记录的唯一标识
          example: 1
        state:
          type: string
          description: |
            状态值：
            - `pending`：等待中
            - `running`：运行中
            - `success`：成功
            - `failed`：失败
            - `error`：错误
            - `canceled`：已取消
          enum: [pending, running, success, failed, error, canceled]
          example: "success"
        context:
          type: string
          description: CI 上下文名称（即 CI 系统标识），如 "jenkins"、"travis-ci"
          example: "jenkins"
        description:
          type: string
          description: 状态的简短描述，如 "Build passed"
          example: "Build passed"
        target_url:
          type: string
          format: uri
          description: 外部 CI 系统的详细链接（可为空）
          example: "https://jenkins.example.com/job/build/1"
        created_at:
          type: string
          format: date-time
          description: 状态创建时间（RFC3339 格式）
          example: "2026-06-10T08:00:00+08:00"
        updated_at:
          type: string
          format: date-time
          description: 状态更新时间（RFC3339 格式）
          example: "2026-06-10T08:05:00+08:00"
        creator:
          $ref: "#/components/schemas/User"
          description: 创建此状态的用户

    CombinedStatus:
      type: object
      description: 聚合 CI 状态，包含所有上下文的综合结果
      properties:
        state:
          type: string
          description: |
            聚合后的整体状态（与 CIStatus.state 相同的枚举值）：
            - 所有上下文都成功 → `success`
            - 任意上下文失败/错误 → `failed` 或 `error`
            - 有上下文运行中 → `running`
            - 所有上下文等待中 → `pending`
          enum: [pending, running, success, failed, error, canceled]
          example: "success"
        commit_url:
          type: string
          format: uri
          description: 对应 commit 的 API URL
          example: "https://gitee.com/api/v5/repos/alice/my-project/commits/abc1234"
        repository:
          $ref: "#/components/schemas/Repository"
        statuses:
          type: array
          description: 各 CI 上下文的详细状态列表
          items:
            $ref: "#/components/schemas/CIStatus"
        total_count:
          type: integer
          description: CI 上下文总数
          example: 2

    Repository:
      type: object
      description: 仓库精简信息
      properties:
        id:
          type: integer
          format: int64
          example: 12345
        full_name:
          type: string
          example: "alice/my-project"
        name:
          type: string
          example: "my-project"
        html_url:
          type: string
          format: uri
          example: "https://gitee.com/alice/my-project"

    User:
      type: object
      description: 用户精简信息
      properties:
        id:
          type: integer
          format: int64
          description: 用户 ID
          example: 100
        login:
          type: string
          description: 用户名（登录名）
          example: "alice"
        name:
          type: string
          description: 用户昵称
          example: "Alice Chen"
        avatar_url:
          type: string
          format: uri
          description: 头像 URL
          example: "https://gitee.com/assets/no_portrait.png"
        html_url:
          type: string
          format: uri
          description: 个人主页 URL
          example: "https://gitee.com/alice"

    ErrorResponse:
      type: object
      description: API 错误响应体
      properties:
        message:
          type: string
          description: 错误描述信息
          example: "404 Not Found"
        error:
          type: string
          description: 错误类型（部分错误响应使用此字段）
          example: "not_found"
